<html lang="zh-cn">
  <head>
    <title>阿里云RDS工具</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.7.0-beta.5/vue.min.js"></script>
  </head>
  <style>
    body {
      background-color: aliceblue;
    }
    .flex {
      display: flex;
    }
  </style>
  <body>
    <div id="app">
      <h1>阿里云RDS工具</h1>
      <div>
        <div class="flex">
          <div style="flex: 1">当前IP: {{ip}}</div>
          <div>
            <input type="text" v-model="inputIp" />
            <button @click="addMqWhiteList(inputIp)">添加</button>
          </div>
        </div>
        <div>福州分组中IP白名单列表 <button @click="refresh">刷新</button></div>
        <div style="display: flex; flex-wrap: wrap">
          <div
            v-for="(item, index) in fuzhouList"
            :key="item"
            style="margin-right: 10px"
            :style="ip === item || inputIp === item? 'font-weight:bold;color: #DC143C':''"
          >
            {{item}}
          </div>
        </div>
      </div>
    </div>
    <script>
      const app = new Vue({
        el: "#app",
        data: () => {
          return {
            ip: "loading",
            inputIp: "",
            fuzhouList: [],
          };
        },
        mounted() {
          console.log("mounted");
          window.test();
          this.refresh();
        },
        methods: {
          refresh: async function () {
            console.log("refresh");
            // let localIp = "";
            // try {
            //   localIP = await window.getPulbicIpV4();
            // } catch (error) {
            //   localIP = await fetch("https://dxxq-0gu9zl9a66ca3504-1258554675.ap-shanghai.app.tcloudbase.com/getRequestIP")
            //     .then((res) => res.json())
            //     .then(res => res.real_ip)
            // }
            const localIP = await fetch(
              "https://dxxq-0gu9zl9a66ca3504-1258554675.ap-shanghai.app.tcloudbase.com/getRequestIP"
            )
              .then((res) => res.json())
              .then((res) => res.real_ip);
            this.ip = localIP;
            await this.addMqWhiteList(this.ip);
          },
          addMqWhiteList: async function (ip) {
            console.log(`新增加IP白名单: ${ip}`);
            const ipList = await window.getIpList();
            const fuzhou = ipList.DBInstanceIPArray.find(
              (row) => row.DBInstanceIPArrayName === "fuzhou"
            );
            const fuzhouSecurityIPList = fuzhou.securityIPList;
            this.fuzhouList = fuzhouSecurityIPList.split(",");
            console.log({
              fuzhouList: this.fuzhouList,
              isTrue: this.fuzhouList.includes(ip),
            });
            if (!this.fuzhouList.includes(ip)) {
              await window
                .addLocalIp2IpList(fuzhouSecurityIPList + "," + ip)
                .then((res) => {
                  console.log({ res });
                })
                .catch((err) => {
                  console.log(err);
                });
              this.refresh();
            }
          },
        },
      });
    </script>
  </body>
</html>
